* {
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 2px;
}

html {
  font-size: 15px;
}

header {
  padding: 10px;
  display: flex;
  justify-content: center;
}

body {
  background-color: #568203;
}

.menu-screen-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.caterpillar-image {
  width: 300px;
  margin-left: 15px;
  margin-right: 15px;
}

#caterpillar-right {
  transform: rotateY(180deg);
}

.score-and-timer-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.score {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  padding-left: 40px;
}

.score span {
  padding-left: 5px;
}

.timer {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding-right: 20px;
}

.number-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.number-card {
  border: 1px solid black;
  width: 30%;
  margin-top: 50px;
  margin-left: 30px;
  background-color: #cd853f;
  padding: 30px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.highlighted {
  background-color: #686868;
}

.instructions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.start-btn {
  padding: 20px;
  border: 3px solid #000000;
  background-color: #cd853f;
  font-weight: bold;
}

@media screen and (max-width: 840px) {
  .caterpillar-image {
    width: 150px;
    height: 150px;
  }
}