* {
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 2px;
}
html {
  font-size: 15px;
}
header {
  padding: 10px;
  display: flex;
  justify-content: center;
}
body {
  background-color: #568203;
}
.score-and-timer-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.score {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  padding-left: 40px;
}
.timer {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding-right: 20px;
}
.number-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.number-card {
  border: 1px solid black;
  width: 40%;
  margin: 10px;
  background-color: #cd853f;
}

.highlighted-number-card {
  background-color: #686868;
}

.number-card p {
  padding-left: 60px;
  max-width: fit-content;
}
.instructions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
