* {
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 2px;
}

html {
  font-size: 15px;
}
header {
  padding: 10px;
  display: flex;
  justify-content: center;
}
body {
  background-color: #568203;
}
.score-and-timer-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.score {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}
.timer {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  max-width: fit-content;
  padding-right: 40px;
  border: 1px black solid;
}
